In [1]:
               ##assignment

In [3]:
#answer1
print("""FOR LOOP = A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is “for”. When the number of iterations is already known, the for loop is used.
WHILE LOOP =A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while." When the number of iterations is unknown, a "while" loop is used. The statement is repeated until the boolean value is false. Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop""")

FOR LOOP = A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is “for”. When the number of iterations is already known, the for loop is used.
WHILE LOOP =A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while." When the number of iterations is unknown, a "while" loop is used. The statement is repeated until the boolean value is false. Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop

In [4]:
#EXAMPLE OF FOR LOOP
l = [1,2,3,4,5,6,7,8,9]

In [5]:
for i in l :
    print (i)

1
2
3
4
5
6
7
8
9

In [7]:
#EXAMPLE OF WHILE LOOP
a = 1
while a <=10:
    print (a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [6]:
##sum and product of first 10 natural numbers 
l = [1,2,3,4,5,6,7,8,9,10]

In [7]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#sum 
i=l
sum = 0 
for i in l:
    sum = sum + i
print ( "sum is", sum)

sum is 55

In [16]:
#product
i = 1
product = 1
while i <=10:
    product = product * i
    i = i + 1
print ("the product is ", product)

the product is  3628800

In [17]:
print("ANSWER 3 ")

ANSWER 3

In [32]:
unit = int(input("units of electricity consumed"))
if unit <= 100:
    charge = 4.5*unit 
    print ("the electricity bill is" , charge)
elif unit > 100 and unit <= 200 :
    charge = 4.5* 100 + (unit-100)*6
    print ("the electricity bill is " , charge)
elif unit >200 and unit <=300:
    charge = 4.5*100 + 100*6 + (unit-200)*10
    print ("the electricity bill is " , charge)
elif unit > 300:
    charge = 4.5*100 + 100*6 + 100*10 +(unit-300)*20
    print ("the electricity bill is" , charge)

units of electricity consumed 310

the electricity bill is 2250.0

In [1]:
print("ANSWER4")

ANSWER4

In [24]:
l = []

In [25]:
type(l)

list

In [36]:
for a in range (1 , 101):
    l.append(a)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [73]:
l2 = ["cube of numbers from 1 to 100"]

In [74]:
for i in l :
    i = i**3
    l2.append(i)

In [75]:
l2

['cube of numbers from 1 to 100',
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [70]:
l3 = ["number divied by 4 or 5"]

In [71]:
for j in l2:
    if j % 4 == 0 or j % 5 == 0 :
        l3.append(j)

In [72]:
l3

['number divied by 4 or 5',
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [77]:
print("ANSWER 5")

ANSWER 5

In [78]:
##write in program to count vowels in following string

In [83]:
s1 = "I want to become a data scientist"

In [84]:
s1

'I want to become a data scientist'

In [85]:
s1.lower()

'i want to become a data scientist'

In [94]:
v = [ "a","e","i","o","u"]

In [98]:

count = 0
for s in s1:
    if s in v:
        count = count +1
print ("number of vowels in string is" ,count)

number of vowels in string is 11